{% load i18n %}
<div class="main-martor main-martor-{{ field_name }} relative" data-field-name="{{ field_name }}">
  <div class="section-martor">
    <nav class="tab-martor-menu">
      <div class="relative flex items-baseline font-semibold nav nav-tabs" id="nav-tab" role="tablist">
        <a class="px-3 py-1 text-indigo-500 nav-link active" data-tab="editor-tab-{{ field_name }}" id="nav-editor-tab-{{ field_name }}" data-bs-toggle="tab" data-bs-target="#nav-editor-{{ field_name }}" type="button" role="tab" aria-controls="nav-editor-{{ field_name }}" aria-selected="true">
          <span class="before:font-awesome before:mr-1 before:content-['\f044']" >{% trans "Editor" %}</span>
        </a>
        <a class="px-3 py-1 text-indigo-500 nav-link" data-tab="preview-tab-{{ field_name }}" id="nav-preview-tab-{{ field_name }}" data-bs-toggle="tab" data-bs-target="#nav-preview-{{ field_name }}" type="button" role="tab" aria-controls="nav-preview-{{ field_name }}" aria-selected="false">
          <span class="before:font-awesome before:mr-1 before:content-['\f06e']">{% trans "Preview" %}</span>
        </a>

        {% include "martor/custom/toolbar.html" %}
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="relative tab-pane fade show active" id="nav-editor-{{ field_name }}" role="tabpanel" aria-labelledby="nav-editor-tab-{{ field_name }}">
        <div class="text-center upload-progress z-[100] absolute w-full h-full pt-20 bg-black text-white" data-field-name="{{ field_name }}" style="display:none">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div>{% trans "Uploading... please wait..." %}</div>
        </div>
        <div id="martor-{{ field_name }}" class="w-full h-64 martor-field-{{ field_name }}"></div>
        {{ martor }}
      </div>

      <div class="p-4 prose bg-white min-h-[10rem] min-w-full w-full !font-martor tab-pane fade martor-preview" id="nav-preview-{{ field_name }}" role="tabpanel" aria-labelledby="nav-preview-tab-{{ field_name }}">
        <p>{% trans "Nothing to preview" %}</p>
      </div>
    </div>
  </div><!-- end  /.section-martor -->

  {% include 'martor/custom/guide.html' %}
  {% include 'martor/custom/emoji.html' %}
</div>
