{% load i18n static %}

<div class="fixed top-0 left-0 modal text-lg opacity-0 fade modal-help-guide z-[1010] hidden w-full h-full overflow-x-hidden overflow-y-auto outline-0 transition ease-linear" tabindex="-1" aria-labelledby="modalMarkdownGuideTitle" aria-hidden="true">
  <div class="transition translate-y-12 lg:max-w-4xl sm:max-w-2xl sm:h-[90%] md:mx-auto md:my-7 modal-dialog modal-lg modal-dialog-scrollable">
    <div class="relative flex flex-col w-full max-h-full overflow-hidden bg-white border rounded-md pointer-events-auto outline-0 modal-content bg-clip-padding">
      <div class="flex items-center px-4 py-3 bg-white border-b modal-header shrink-0 rounded-t-md">
        <h5 class="flex-1 mb-0 text-lg font-bold modal-title" id="modalMarkdownGuideTitle">
          <span class="ml-1 before:font-awesome before:mr-2 before:content-['\f059']">{% trans "Markdown Guide" %}</span>
        </h5>
        <button type="button" class="block p-2 mr-auto -my-2 -ml-2 text-black border-none cursor-pointer btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="w-4 h-4 fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="relative flex-1 p-4 overflow-y-auto modal-body">
        <div class="text-lg text-center credit">
          <span>{% blocktrans with repo_url='https://github.com/agusmakmun/django-markdown-editor' %}Copyright &copy; <a href="{{ repo_url }}">Martor</a>{% endblocktrans %}</span>
        </div>
        <div class="text-lg text-center">
          <p>{% blocktrans with doc_url='http://commonmark.org/help/' %}This editor is powered by Markdown. For full documentation, <a href="{{ doc_url }}" class="hover:underline hover:text-indigo-500" target="_blank">click here</a>.{% endblocktrans %}</p>
        </div>
        <table class="w-full border-collapse table mb-4 text-[#212529] [&>*>*]:p-2 [&>:not(:first-child)]:border-t-2 text-base lh-lg markdown-reference">
          <thead>
            <tr class="text-white [&>*]:p-2 bg-black">
              <th>{% trans "Code" %}</th>
              <th>{% trans "Or" %}</th>
              <th>Linux/Windows</th>
              <th>Mac OS</th>
              <th>{% trans "... to Get" %}</th>
            </tr>
          </thead>
          <tbody class="[&>*>*]:px-2 [&>*>*]:py-1 [&>tr:not(first-child)]:border-t [&>tr:not(first-child)]:border-red-500">
            {% if emoji_enabled %}
              <tr>
                <td>:emoji_name:</td>
                <td>&mdash;</td>
                <td>&mdash;</td>
                <td>&mdash;</td>
                <td><img class="max-w-[20px]" src="{% static 'plugins/images/heart.png' %}"></td>
              </tr>
            {% endif %}

            {% if mentions_enabled %}
              <tr>
                <td>@[username]</td>
                <td>&mdash;</td>
                <td>Ctrl+M</td>
                <td>Command+M</td>
                <td><a href="#">@username</a></td>
              </tr>
            {% endif %}

            {% if emoji_enabled or mentions_enabled %}
              <tr><td colspan="5"></td></tr>
            {% endif %}

            <tr>
              <td>*Italic*</td>
              <td>_Italic_</td>
              <td>Ctrl+I</td>
              <td>Command+I</td>
              <td class="prose"><em>Italic</em></td>
            </tr>
            <tr>
              <td>**Bold**</td>
              <td>__Bold__</td>
              <td>Ctrl+B</td>
              <td>Command+B</td>
              <td class="prose"><strong>Bold</strong></td>
            </tr>
            <tr>
              <td>++Underscores++</td>
              <td>&mdash;</td>
              <td>Shift+U</td>
              <td>Option+U</td>
              <td class="prose"><ins>Underscores</ins></td>
            </tr>
            <tr>
              <td>~~Strikethrough~~</td>
              <td>&mdash;</td>
              <td>Shift+S</td>
              <td>Option+S</td>
              <td class="prose"><del>Strikethrough</del></td>
            </tr>
            <tr>
              <td># Heading 1</td>
              <td>Heading 1<br> =========</td>
              <td>Ctrl+Alt+1</td>
              <td>Command+Option+1</td>
              <td class="prose"><h3>Heading 1</h3></td>
            </tr>
            <tr>
              <td>## Heading 2</td>
              <td>Heading 2<br> -----------</td>
              <td>Ctrl+Alt+2</td>
              <td>Command+Option+2</td>
              <td class="prose"><h4>Heading 2</h4></td>
            </tr>
            <tr>
              <td>[Link](http://a.com)</td>
              <td>[Link][1]<br> &#8285;<br> [1]: http://b.org</td>
              <td>Ctrl+L</td>
              <td>Command+L</td>
              <td class="prose"><a href="http://commonmark.org/">Link</a></td>
            </tr>
            <tr>
              <td>![Image](http://url/a.png)</td>
              <td>![Image][1]<br> &#8285;<br> [1]: http://url/b.jpg</td>
              <td>Ctrl+Shift+I</td>
              <td>Command+Option+I</td>
              <td class="prose"><img src="{% static 'plugins/images/commonmark.png' %}" width="36" height="36" alt="Markdown"></td>
            </tr>
            <tr>
              <td>&gt; Blockquote</td>
              <td>&mdash;</td>
              <td>Ctrl+Q</td>
              <td>Command+Q</td>
              <td class="prose"><blockquote>Blockquote</blockquote></td>
            </tr>
            <tr>
              <td>A paragraph.<br><br> A paragraph after 1 blank line.</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td class="prose"><p>A paragraph.</p><p>A paragraph after 1 blank line.</p></td>
            </tr>
            <tr>
              <td><p>* List<br> * List<br> * List</p></td>
              <td><p> - List<br> - List<br> - List<br></p></td>
              <td>Ctrl+U</td>
              <td>Command+U</td>
              <td class="prose"><ul><li>List</li><li>List</li><li>List</li></ul>
              </td>
            </tr>
            <tr>
              <td><p> 1. One<br> 2. Two<br> 3. Three</p></td>
              <td><p> 1) One<br> 2) Two<br> 3) Three</p></td>
              <td>Ctrl+Shift+O</td>
              <td>Command+Option+O</td>
              <td class="prose"><ol><li>One</li><li>Two</li><li>Three</li></ol></td>
            </tr>
            <tr>
              <td>Horizontal Rule<br><br> -----------</td>
              <td>Horizontal Rule<br><br> ***********</td>
              <td>Ctrl+H</td>
              <td>Command+H</td>
              <td class="prose">Horizontal Rule <hr></td>
            </tr>
            <tr>
              <td>`Inline code` with backticks</td>
              <td>&mdash;</td>
              <td>Ctrl+Alt+C</td>
              <td>Command+Option+C</td>
              <td class="prose"><code>Inline code</code> with backticks</td>
            </tr>
            <tr>
              <td>```<br> def whatever(foo):<br>&nbsp;&nbsp;&nbsp;&nbsp;return foo<br>```</td>
              <td><b>with tab / 4 spaces</b><br>....def whatever(foo):<br>....&nbsp;&nbsp;&nbsp;&nbsp;return foo</td>
              <td>Ctrl+Alt+P</td>
              <td>Command+Option+P</td>
              <td class="prose"><pre>def whatever(foo):<br />    return foo</pre></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
