{% load i18n %}
<div class="flex-1 flex justify-end items-center martor-toolbar">
  {% if 'bold' in toolbar_buttons %}
    <div class="markdown-selector markdown-bold" title="{% trans 'Bold' %} (Ctrl+B)">
      <i class="fa-solid fa-bold"></i>
    </div>
  {% endif %}

  {% if 'italic' in toolbar_buttons %}
    <div class="markdown-selector markdown-italic" title="{% trans 'Italic' %} (Ctrl+I)">
      <i class="fa-solid fa-italic"></i>
    </div>
  {% endif %}

  {% if 'horizontal' in toolbar_buttons %}
    <div class="markdown-selector markdown-horizontal" title="{% trans 'Horizontal Line' %} (Ctrl+H)">
      <i class="fa-solid fa-minus"></i>
    </div>
  {% endif %}

  {% if 'heading' in toolbar_buttons %}
    <div class="ui icon button top left pointing dropdown no-border" title="{% trans 'Heading' %}">
      <i class="fa-solid fa-heading"></i>
      <div class="menu">
        <div class="item markdown-selector markdown-h1" title="">{% trans 'Heading' %} 1 (Ctrl+Alt+1)</div>
        <div class="item markdown-selector markdown-h2" title="">{% trans 'Heading' %} 2 (Ctrl+Alt+2)</div>
        <div class="item markdown-selector markdown-h3" title="">{% trans 'Heading' %} 3 (Ctrl+Alt+3)</div>
      </div>
    </div>
  {% endif %}

  {% if 'pre-code' in toolbar_buttons %}
    <div class="ui icon button top left pointing dropdown no-border" title="{% trans 'Pre or Code' %}">
      <i class="fa-solid fa-code"></i>
      <div class="menu">
        <div class="item markdown-selector markdown-pre" title="">{% trans 'Pre' %} (Ctrl+Alt+P)</div>
        <div class="item markdown-selector markdown-code" title="">{% trans 'Code' %} (Ctrl+Alt+C)</div>
      </div>
    </div>
  {% endif %}

  {% if 'blockquote' in toolbar_buttons %}
    <div class="markdown-selector markdown-blockquote" title="{% trans 'Quote' %} (Ctrl+Q)">
      <i class="fa-solid fa-quote-left"></i>
    </div>
  {% endif %}

  {% if 'unordered-list' in toolbar_buttons %}
    <div class="markdown-selector markdown-unordered-list" title="{% trans 'Unordered List' %} (Ctrl+U)">
      <i class="fa-solid fa-list-ul"></i>
    </div>
  {% endif %}

  {% if 'ordered-list' in toolbar_buttons %}
    <div class="markdown-selector markdown-ordered-list" title="{% trans 'Ordered List' %} (Ctrl+Shift+O)">
      <i class="fa-solid fa-list-ol"></i>
    </div>
  {% endif %}

  {% if 'link' in toolbar_buttons %}
    <div class="markdown-selector markdown-link" title="{% trans 'URL/Link' %} (Ctrl+L)">
      <i class="fa-solid fa-link"></i>
    </div>
  {% endif %}

  {% if 'image-link' in toolbar_buttons %}
    <div class="markdown-selector markdown-image-link" title="{% trans 'Insert Image Link' %} (Ctrl+Shift+I)">
      <i class="fa-solid fa-image"></i>
    </div>
  {% endif %}

  {% if 'image-upload' in toolbar_buttons %}
    <div class="markdown-selector markdown-image-upload" title="{% trans 'Upload an Image' %}">
      <i class="fa-solid fa-upload"></i>
      <input name="markdown-image-upload" class="button" type="file" accept="image/*" title="{% trans 'Upload an Image' %}">
    </div>
  {% endif %}

  {% if 'emoji' in toolbar_buttons %}
    <div class="markdown-selector markdown-emoji" title="{% trans 'Insert Emoji' %}">
      <i class="fa-solid fa-heart"></i>
    </div>
  {% endif %}

  {% if 'direct-mention' in toolbar_buttons %}
    <div class="markdown-selector markdown-direct-mention" title="{% trans 'Direct Mention User' %} (Ctrl+M)">
      <i class="fa-solid fa-at"></i>
    </div>
  {% endif %}

  {% if 'toggle-maximize' in toolbar_buttons %}
    <div class="markdown-selector markdown-toggle-maximize" title="{% trans 'Full Screen' %}">
      <i class="fa-solid fa-arrows-maximize"></i>
    </div>
  {% endif %}

  {% if 'help' in toolbar_buttons %}
    <div class="markdown-selector markdown-help" title="{% trans 'Markdown Guide (Help)' %}">
      <i class="fa-solid fa-circle-question"></i>
    </div>
  {% endif %}
</div>
